@use "../abstracts/variables.scss" as *;

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0% 0% 0% / 50%);
  top: 0;
  left: 0;
  z-index: 10;

  opacity: 0;
  display: none;

  transition: all 0.5s;
}

.visible {
  opacity: 1;
}

/* Form styles */
.modal__form-container {
  font-family: $heading-font-stack;
  width: 90%;
  max-width: 600px;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  padding: 5rem 0 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
  background: none;
  border: none;

  color: $neutral-dark-cyan;
  font-size: 4rem;
  transition: color 0.5s;

  &:hover {
    color: $primary-pink;
  }
}

/* Heading */
.modal__heading {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  color: $neutral-dark-cyan;
  padding: 0 2rem 0;
  text-align: center;
  margin-bottom: 4.8rem;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.modal__form-element {
  width: 60%;
}

.modal__form-input-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
  margin-left: 15px;
  line-height: 1.2;
}

.modal__form-input-field {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #EEE;
  transition: all 0.5s;
  border: 1px solid $neutral-dark-cyan;
  font-family: inherit;
  font-size: 1.6rem;

  &:focus {
    outline: none;
    border: 1px solid $primary-pink;
  }
}

.textarea {
  resize: none;
  height: 100px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.modal__form-submit-button {
  margin-top: 2rem;
  padding: 1.2rem;
  text-transform: uppercase;
  width: 60%;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  color: $normal-white;
  background-color: $primary-light-pink;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: $primary-pink;
  }
}





